<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/wdm.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/wdm.js"></script>
</head>
    <body>

        <div class="main-container">

            <!-- HEADER -->
            <header class="block">
		<ul class="header-menu horizontal-list">		
			<li>
			<div class="profile-menu">
                    		<div class="profile-picture small-profile-picture">
                        		<img width="80px" alt="picture" src="1.jpg">
                    		</div>
                	</div>
			</li>

			<li>
               			<h1>FORMULA 1 2015 <a href="#26"></a></h1>
			</li>
		</ul>
            </header>
	
	<div class="donut-chart-block block" style="padding:10px"> 
        	<h2 class="titular">Season 2015 - 2016 STATS</h2>
		<p>
			This is CSE 5335 Spring 2016 Project 1. This is a web application that shows team based stats of the last F1 season. The data is received as json objects. 
		</p>


	<a id ="getstats" class="subscribe button">Get Stats</a>
	</div>
	
	

	<!-- <button>Get Stats</button> -->
	<div id="div1"  class="loading block" style="padding:10px">
        <table style="width:100%; color:white">
  		<thead>
		<tr>
	  	<th>Race</th>	
		<th>Grand Prix</th>
		<th>Location</th>
		<th>Date</th>
	 	<th>Winner</th>
		<th>Team</th>
		</tr>
		</thead>
		<tbody></tbody>
	 </table>
	 <a id ="map" class="subscribe button">Visualize</a>
	</div>
	<div id="visual">
		<div id="mapdiv"  class="loading block" style ="height:450px; width: 530px; float:left"></div>
		<div class="donut-chart-block block" style ="height:400px; width: 400px;; float:right"> 
		            <h2 class="titular">Driver Champions</h2>
		            <div id="chart" style="padding-left:75px">
		                
		            </div>
		            <ul class="os-percentages horizontal-list">
		                
		            </ul>
		</div>

	
	
	</div>
	<div class="donut-chart-block block" style="clear:both; height:30px; padding-top:7px"> 
		<p style="text-align:center; margin-top:0px">
			University of Texas at Arlington.  Created by: Ayub © 2016 
		</p>
	</div>
</div>
    </body>

</html>
